<html>
<head>
  <title>mdfs</title>
  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/files.css">

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- SDK -->
  <script src="https://www.dropbox.com/static/api/dropbox-datastores-1.1-latest.js" type="text/javascript"></script>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script type="text/javascript" src="js/facebook.js"></script>

  <!-- JS -->

  <script type="text/javascript" src="js/mdfs.js"></script>
  <script type="text/javascript" src="js/files.js"></script>
  <script type="text/javascript" src="js/index.js"></script>


  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel='stylesheet' type='text/css' href="css/pe-icon-7-stroke.css">
</head>
<body>
  <div class="container">

    <div class="header-container row">
      <div class="profile-picture-container col-md-2 col-md-offset-10">
        <div class="description-container">
        </div>
      </div>
    </div>
    <!-- drag and drop AND table -->
    <div class="interface-container row">


      <!-- drag and drop -->
      <div class="drop-container col-md-6">

        <div class="node-container top-row row">
          <div class="soundcloud attach-node col-md-6">
            <div class="login soundcloud-login"></div>
          </div>

          <div class="facebook attach-node col-md-6">
            <button class="login facebook-login">Connect</button>
          </div>
        </div>

        <div class="circle-container row">
          <div class="circle ch-item ch-img-1" id="draganddrop">
            <div class="ch-info">
                <h3>Drag and Drop</h3>
                <p>to upload</p>
            </div>
          </div>

        </div>


        <div class="node-container bottom-row row">
          <div class="dropbox attach-node col-md-6">
            <button class="login dropbox-login">Connect</button>
          </div>

          <div class="imgur attach-node col-md-6">
            <button class="login imgur-login">Connect</button>
          </div>

        </div>
      </div>

      <!-- table -->
      <div class="nav-container col-md-6 row">
        <div class="table-navigation col-md-8">
          <div class="navigation-container"></div>
        </div>

        <div class="file-options"></div>

        <div class="table-container row directory-container">
          <!-- table put in by js -->
        </div>
    </div>
  </div>

</body>
</html>