.header-container {
	height: 50px;
}


@circle-height: 200px;
.circle {
	border-radius: 50%;
	width: @circle-height;
	height: @circle-height;
	background-color: pink;
}

.table-row {
	cursor: pointer;
	&:hover {
		background-color: #f8f8f8;
	}
}

td {
	font-size: 18px;
	font-weight: 300;
}

.filename-td {
	i {
		font-size: 25px;
		padding-right: 8px;
	}
}
