@import "utils.less";

.soundcloud-login {
	height: 80px;
	width: 80px;
	.background('Soundcloud.png');
	cursor: pointer;
    .transition(0.1s);
}

.soundcloud-login:active {
    -webkit-transform: scale(0.85);
}